.content {
    margin-left: 16%;
    padding: 1px 16px;
    height: 1000px;
    background-color: transparent;
}

body {
    margin: 0;
}

#dashboard ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#info-user {
    position: absolute;
    right: 0;
    width: max-content;
    height: max-content;
    margin-right: 10px;
}

#dashboard li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#dashboard li a.active {
    background-color: #04AA6D;
    color: white;
}

#dashboard li a:hover:not(.active) {
    background-color: #979797;
    color: white;
}